<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>144213A1-1543-42FB-8E73-DB87A8C2C9F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>312AE612-23D0-427D-9972-5E1D2CFE1D3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2746AF5-1DA6-46BA-BFBB-BB5A3D1CAC46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>528B6B7B-757B-441F-BEF4-A93707AE206C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>312AE612-23D0-427D-9972-5E1D2CFE1D3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2746AF5-1DA6-46BA-BFBB-BB5A3D1CAC46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>528B6B7B-757B-441F-BEF4-A93707AE206C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>45FE63FC-BD51-46D5-A9F3-4A9A0477628B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E864385F-E267-4C1B-9887-F6F3031D20A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E864385F-E267-4C1B-9887-F6F3031D20A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93E74E35-C5FB-44ED-812E-4BF1B0716EEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Nazimok</string>
	<key>description</key>
	<string>Generate Dummy Text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bacon Ipsum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Character Count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>93E74E35-C5FB-44ED-812E-4BF1B0716EEC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ipsum</string>
				<key>text</key>
				<string>Generate Dummy Text of Length</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>144213A1-1543-42FB-8E73-DB87A8C2C9F1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>#!/bin/bash

CH_PER_PAR=65;
let "NUM_PAR={query}/$CH_PER_PAR";

TEXT=$(curl -s "http://baconipsum.com/api/?type=all-meat&amp;paras=$NUM_PAR&amp;start-with-lorem=1"|tr -d '["]')
LEN={query}

echo -n $TEXT | cut -c1-$LEN | tr -d '\n'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>312AE612-23D0-427D-9972-5E1D2CFE1D3A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Dummy text has been copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>528B6B7B-757B-441F-BEF4-A93707AE206C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C2746AF5-1DA6-46BA-BFBB-BB5A3D1CAC46</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wc</string>
				<key>text</key>
				<string>Character count</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45FE63FC-BD51-46D5-A9F3-4A9A0477628B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ipsum</string>
				<key>text</key>
				<string>Generate Dummy Text of Paragraphs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>curl -s "http://baconipsum.com/api/?type=all-meat&amp;paras={query}&amp;start-with-lorem=1"|tr -d '["]'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>echo -n {query}| wc -c</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E864385F-E267-4C1B-9887-F6F3031D20A0</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>144213A1-1543-42FB-8E73-DB87A8C2C9F1</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>312AE612-23D0-427D-9972-5E1D2CFE1D3A</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>45FE63FC-BD51-46D5-A9F3-4A9A0477628B</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>528B6B7B-757B-441F-BEF4-A93707AE206C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>93E74E35-C5FB-44ED-812E-4BF1B0716EEC</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>C2746AF5-1DA6-46BA-BFBB-BB5A3D1CAC46</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E864385F-E267-4C1B-9887-F6F3031D20A0</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
